{% extends 'basic.html' %}

{% load bootstrap4 %}

{% block content %}
    <h4 style="padding-bottom: 10px">Здравствуйте, {{ user.username }}</h4>
    <h5 class="p-3 mb-2 bg-dark text-white text-center">Ваши заявки</h5>
    {% if a_items %}
        {% for item in a_items %}
            <div class="table justify-content-between row p-3 text-dark bg-light border-top border-bottom">
                <img class="col-4" src="{{ item.photo.url }}" alt="Фото заявки">
                <p class="p-3 mb-2 mr-auto"><b>Наименование:</b> {{ item.name }} <br> <b>Категория:</b> {{ item.Category }}
                    <br> <b>Дата добавления:</b> {{ item.date }} <br> <b>Описание:</b> {{ item.description }}
                    <br><b>Статус: </b>{{ item.status }}</p>
                <form action="{% url 'delete' item.id %}" method="post">
                    {% csrf_token %}
{#                    <a href="{% url 'delete' user.id %}" class="btn btn-outline-danger mt-auto  ml-auto h-25">Удалить</a>#}
                    <button type="submit" class="btn btn-outline-danger">Удалить</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p class="">Вы еще не создали ни одну заявку</p>
    {% endif %}
{#    {% if aplication_items %}#}
{#        <ul>#}
{#            {% for item in aplication_items %}#}
{#                <li>#}
{#                    {{ item.name }} - {{ item.status }}#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% else %}#}
{#        <p>выфвф</p>#}
{#    {% endif %}#}
{% endblock %}